{% load static %} {% load humanize %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div class="text-center img-logo-mf">
            <a href="{% url 'crud:dashboard' %}">
                <!-- <img id="img-sidebar-collapsed" src="https://torneos-a56c288d2a31.herokuapp.com/static/img/medalla-1.png" alt="logo" class="img-fluid"> -->
                <img id="img-sidebar-collapsed" src="{% static 'img/icon-tartarus.png' %}" alt="logo" class="img-fluid">
            </a>
        </div>
        <!-- <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header text-white">
                <h5><b>{{ data.name }}</b></h5>
            </li>
        </ul> -->
        <nav class="mt-2">
            <hr class=" hr_division">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>PÁGINA PRINCIPAL</b></li>
                <li class="nav-item">
                    <a href="{% url 'crud:dashboard' %}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p class="p-nav">
                            INICIO
                        </p>
                    </a>
                </li>
                <hr class="hr_division">
            </ul>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>CALENDARIO</b></li>
                <li class="nav-item">
                    <a href="{% url 'crud:events' %}" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p class="p-nav">
                            Eventos
                        </p>
                    </a>
                </li>
                <hr class="hr_division">
            </ul>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>CONFIGURACIÓN</b></li>
                <li class="nav-item">
                    <a href="{% url 'crud:category_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-globe"></i>
                        <p class="p-nav">
                            Categorías
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'crud:team_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p class="p-nav">
                            Participantes
                        </p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="{% url 'crud:player' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p class="p-nav">
                            Jugadores
                        </p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="{% url 'crud:tornauments' %}" class="nav-link">
                        <i class="nav-icon fas fa-trophy"></i>
                        <p class="p-nav">
                            Torneos
                        </p>
                    </a>
                </li>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b></b>TABLAS DE GESTIÓN</b></li>
                <li class="nav-item">
                    <a href="{% url 'crud:companyinfo' %}" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p class="p-nav">
                            Empresa
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:users_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p class="p-nav">
                            Usuarios
                        </p>
                    </a>
                </li>
                <hr class="hr_division">
            </ul>
            <!-- <hr class="hr_division"> -->
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b></b>SALIR</b></li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="nav-icon fas fa-power-off"></i>
                        <p class="p-nav">
                            Cerrar sesión
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>